@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('../node_modules/font-awesome/css/font-awesome.min.css');
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  height: auto;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: auto;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container-fluid {
  height: auto;
}

#root {
  height: auto;
  background-color: #FAFAFA;
}

.minh-100 {

    height: 100vh;
  }


.inputTransparente {
  size: auto;
  border: none;
  background: transparent;
  color: Black;
  width: 100%;
  font-size: 15px;
  border-bottom:1px solid Black;
}

.inputTransparente:focus{
  outline: none !important;
  border-bottom:1px solid #25BE6B;
  -webkit-transition: border-bottom ease-in-out .15s;
  -o-transition: border-bottom ease-in-out .15s;
  transition: border-bottom ease-in-out .15s;
}

.inputTransparente::placeholder{
  color: Black;
}

.inputTransparente:-webkit-autofill,
.inputTransparente:-webkit-autofill:hover,
.inputTransparente:-webkit-autofill:focus,
.inputTransparente:-webkit-autofill:active {
    transition: background 5000s ease-in-out 0s;
}
